<footer class="style-footer">
    <div class="politicas-footer">
        <p>Política de privacidad</p>
        <p>Política de cookies</p>
        <p>política de calidad</p>
        <p>Avisos legales</p>
    </div>
    
    <div class="footer-medium">
        <div class="name-ecommer"> 
            <h2>Ventana del café</h2>
        </div>
        <div class="redes-footer">
            <div class="icon-redes-footer"><i class="fab fa-facebook"></i></div>
            <div class="icon-redes-footer"><i class="fab fa-instagram"></i></div>
            <div class="icon-redes-footer"><i class="fab fa-twitter"> </i></div>
        </div>    
    </div>

    <div class="rigth-footer">
        <p>About us</p>
        <p>Contact</p>
        <p>FAQ</p>
    </div>

    <p class="copy">Copyright 2022 - Ventana del café</p>
        
</footer>