<header class="style-header">

    <div class="container-logo">
        <img src="/imag/Opción 1.jpg" alt="Logo-proyecto" class="logo">
    </div>
    
    <div class="elements-header">
        <div class="part-1-header">
            <h1 class="Title">Ventana del Café</h1>
        </div>
        <div class="part-2-header">
            <form class="index-menu">
                    <select name="index" id="index"> 
                        <option><a href="/consumo">Consumo</a></option>
                        <option><a href="/belleza">Belleza</a></option>
                        <option><a href="/licores">Licores</a></option>
                        <option><a href="/recetas">Recetas</a></option>
                        <option><a href="/souvenirs">Souvenirs</a></option>
                        <option><i class="fas fa-search"></i></option>
                        <option><a href="/notificaciones">Notificaciones</i></a></option>
                        <option><a href="/users/login">Inicia Sesion</a></option>
                        <option><a href="/product/car">Carrito de compras</i></a></option>
                    </select>
            </form>
        </div>
        <div class="logos-header">
            <i class="fas fa-search"></i>
            <a href="/notificaciones"><i class="far fa-bell"></i></a>
            <a href="/users/login"><i class="fas fa-user-circle"></i></a>
            <a href="/product/car"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="part-4-header">
            <nav class="navBar">
                <ul>
                    <li><a href="/consumo">Consumo</a></li>
                    <li><a href="/belleza">Belleza</a></li>
                    <li><a href="/licores">Licores</a></li>
                    <li><a href="/recetas">Recetas</a></li>
                    <li><a href="/souvenirs">Souvenirs</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>