<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head', {title: "Carrito de compra"}) %>
<body class="body-style">
    <%- include('../partials/header') %>

    <div class="content">
        <h2>Carrito de compra</h2>

        <div class="ocultar">
            <div class="shopping-cart-table-names">
            <p class="product">Producto</p>
            <div class="part-2-body">
                <p class="price">Precio unitario</p>
                <p class="amount">Cantidad</p>
                <p class="subtotal">Subtotal</p>
            </div>
            </div>
        </div>

        <main class="mainCar">
                <div class="cartRows">
                </div>
            
            <div class="containerTotalAmount">
                <h4>Total: <span class="totalAmount">$ 0</span></h2>
            </div>
            
            <div class="endBuy">
                <h2>Terminar compra</h2>
                <form id="checkoutCar">
                    <div class="methodsCar">
                        <div class="methodCar">
                            <label for="country">Tipo de envio</label>
                            <select name="shippingMethod" id="shippingMethod" required>
                                <option value="" disabled selected>Elegir...</option>
                                <option value="servientrega">Servientrega</option>
                                <option value="interRapidisimo">Inter Rapidísimo</option>
                                <option value="coodinadora">Cordinadora</option>
                                <option value="DHL">DHL</option>
                            </select>
                        </div>
                        <div class="methodCar">
                            <label for="country">Pago</label>
                            <select name="paymentMethod" id="paymentMethod" required>
                                <option value="" disabled selected>Elegir...</option>
                                <option value="cash">Efectivo</option>
                                <option value="debitCard">Tarjeta Débito</option>
                                <option value="creditCard">Tarjeta Crédito</option>
                            </select>
                        </div>
                    </div>
                    <div class="containerButtonSubmitCar">
                        <button type="submit" class="buttonSubmitCar">Comprar</button>
                    </div>
                </form>
            </div>
        </main>

    </div>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %> 
    <script src="/Js/shoppingCarFront.js"></script>
</body>
</html>