<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Creación de producto"}) %> 
<body class="bodyStyleFormCreateProduct">
    <%- include('../partials/header') %> 
        <form action="/product/create" method="POST" enctype="multipart/form-data" class="containerFormCreateProduct">

            <div class="itemFormCreateProduct">
                <label for="name" class="labelFormCreateProduct">Nombre de producto</label>
                <input type="text" name="productName" id="name">
            </div>
            <div class="itemFormCreateProduct">
                <label for="price" class="labelFormCreateProduct">Precio</label>
                <input type="text" name="productPrice" id="price">
            </div>
            <div class="itemFormCreateProduct">
                <label for="discount" class="labelFormCreateProduct">Descuento</label>
                <input type="text" name="productDiscount" id="discount">
            </div>
            <div class="itemFormCreateProduct">
                <label for="stock" class="labelFormCreateProduct">Stock</label>
                <input type="text" name="productStock" id="stock">
            </div>
            <div class="categoryFormCreateProduct">
                <label for="category">Categoria</label>
                <select name="category" id="category">
                    <option value=1 selected="selected">Consumo</option>
                    <option value=2>Belleza</option>
                    <option value=3>Licores</option>
                    <option value=4>Recetas</option>
                    <option value=5>Souvenirs</option>
                </select>
            </div>
            <div class="containerImgFormCreateProduct">
                <label for="image" class="labelFormCreateProduct">Imagen</label>
                <input type="file" name="productImage" id="image">
            </div>
            <div class="descriptionFormCreateProduct">
                <label for="description">Descripción del producto</label>
                <textarea name="description" id="description" cols="30" rows="10"></textarea>
            </div>

            <div>Origen</div>
            <div>Nivel de tostado</div>
            <div>Sabor</div>
            
            <div>
                <button type="submit">guardar</button>
            </div>
        </form>    
    
</body>
</html>


