<div class="containerFiltermodal">
    <div class="containerSearchModal">
        <form action="#" >
            <input type="text" id="search" placeholder="Buscar">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="contentFilterProduct">
        <div >
            <div >
                <h4>Filtrar por categoria</h4>
            </div>
            <form action="#">
                <div >
                    <input type="checkbox" name="consumo" class="categoryItem" category="consumo" >
                    <label for="consumo">Consumo</label>
                </div>
                <div >
                    <input type="checkbox" name="belleza" class="categoryItem belleza"  >
                    <label for="belleza">Belleza</label>
                </div>
                <div >
                    <input type="checkbox" name="licores" class="categoryItem licores"  >
                    <label for="licores">Licores</label>
                </div>
                <div >
                    <input type="checkbox" name="souvenirs" class="categoryItem souvenirs"  >
                    <label for="souvenirs">Souvenirs</label>
                </div>
                <div >
                    <input type="checkbox" name="all" class="categoryItem" category="all" >
                    <label for="all">Todos</label>
                </div>
            </form>
        </div> 
        
        <div >
            <div >
                <h4>Filtrar por precio</h4>
                <div class="range">
                    <input type="range" class="slider" min="10" max="200" value="50" step="1">
                </div>
            </div>
        </div> 

        <div >
            <div >
                <h4>Filtrar por características</h4>
                tostado
            </div>
        </div> 

        <div class="newProduct">
            <a href="/product/create">Nuevo producto</a>
        </div> 
</div>

<div class="container-cover-filter-product">

</div>