<header class="style-header">

    <div class="container-logo">
        <a href="/"><img src="/imag/header/Logo.png" alt="Logo" class="logo"></a>
    </div>
    
    <div class="elements-header">
        <div class="part-1-header">
            <h1 class="Title" style="color: white;">Ventana del Café</h1>
        </div>

        <div class="part-2-header">
            <form class="index-menu">
                    <select name="index" id="index"> 
                        <option><a href="/product">Productos</a></option>
                        <option>Buscar</option>
                        <option><a href="/notificaciones">Notificaciones</i></a></option>
                        <option><a href="/users/login">Inicia Sesion</a></option>
                        <option><a href="/product/car">Carrito de compras</i></a></option>
                    </select>
            </form>
        </div>

        <div class="logos-header">
            <i class="fas fa-search"></i>
            <a href="/notifications"><i class="far fa-bell"></i></a>
            <a href="/users/login"><i class="fas fa-user-circle"></i></a>
            <a href="/product/car"><i class="fas fa-shopping-cart"></i></a>
        </div>
        
        <div class="part-4-header">
            <nav class="navBar">
                <ul>
                    <li><a href="/product">Productos</a></li>
                    <li><a href="/kitchenRecipes">Recetas</a></li>
                    <li><a href="#about-us">About us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>