<header class="style-header">

    <div class="container-logo">
        <a href="/"><img src="/img/header/Logo.png" alt="Logo" class="logo"></a>
    </div>
    
    <div class="elements-header">
        <div class="part-1-header">
            <h1 class="Title" style="color: black;">VENTANA DEL CAFÉ</h1>
        </div>

        <div class="part-2-header">
            <i class="fas fa-bars"></i>
        </div>

        <div class="logos-header">
            <div id="containerSearch">
                <i class="fas fa-search" id="iconSearch"></i>
            </div>
            <a href="#"><i class="far fa-bell"></i></a>
            <% if (!locals.session) { %>
                <a href="/users/login"><i class="fas fa-user-circle"></i></a>
            <% }else{ %>
                <a href="/users/profile/<%= locals.session[0].id %> "><i class="fas fa-user-circle"></i></a>
            <% } %>
            <a href="/product/car" class="shoppingCarLogo">
                <i class="fas fa-shopping-cart"></i>
                <span class="nameShoppingCarLogo">Carrito</span>
                <div class="absolute">
                    <div class="containerNumberCar">
                        <p class="carNumber">0</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="part-4-header">
            <nav class="navBar">
                <ul>
                    <li><a href="/product">Productos</a></li>
                    <li><a href="/kitchenRecipes">Recetas</a></li>
                    <li><a href="/aboutUs">About us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>