<div class="modal-option-header">

    <div class="element-modal-option-header">
        
        <div id="containerSearch" class="containerSearch">
            <i class="fas fa-search" id="iconSearch"></i>
            <p class="name-option-element-modal-option-header">Buscar</p>
        </div>
        <a href="#">
            <i class="far fa-bell"></i>
            <p class="name-option-element-modal-option-header">Tus notificaciones</p>
        </a>
        <a href="/users/login">
            <i class="fas fa-user-circle"></i>
            <p class="name-option-element-modal-option-header">Inicia sesión</p>
        </a>
        <a href="/product/car" class="shoppingCarLogo">
            <i class="fas fa-shopping-cart"></i>
            <p class="name-option-element-modal-option-header">Carrito</p>
            <div class="absolute">
                <div class="containerNumberCar">
                    <p class="carNumber">0</p>
                </div>
            </div>
        </a>
        <a href="/product">
            <i class="fas fa-mug-hot"></i>
            <p class="name-option-element-modal-option-header">Productos</p> 
        </a>
        <a href="/kitchenRecipes">
            <i class="fas fa-book-reader"></i>
            <p class="name-option-element-modal-option-header">Recetas</p>
        </a>
        <a href="#about-us">
            <i class="fas fa-globe"></i>
            <p class="name-option-element-modal-option-header"> About us</p>
        </a>
    </div>
</div>

<div class="cover-modal-option-header">

</div>