<div id="containerBarSearch">
    <input type="text" id="inputSearch" placeholder="¿Qué deseas buscar?">
</div>

<ul id="boxSearch">
    <li><a href=""><i class="fas fa-search"></i>Result</a></li>
</ul>

<div id="coverContainerSearch">

</div>