<div class="suscription">
    <div class="parrafo-suscription">
        <p>¡Suscribete para obtener los mejores beneficios!</p>
    </div>
    <div class="form-suscription">
        <form action="">
            <input type="text" name="email-footer" id="email-footer" placeholder="Ingresa tu email">
            <button type="submit" class="button-footer">¡Suscribete!
                <div>
                    <img src="/img/suscription/click-here.png" alt="">
                </div>
            </button>
        </form>
    </div>
</div>