<div class="suscription">
    <div class="parrafo-suscription">
        <p>¡Suscribete para obtener los mejores beneficios!</p>
    </div>
    <div class="form-suscription">
        <form action="/users/register">
            <input type="text" name="email_footer" id="email-footer" placeholder="Ingresa tu email">
            <button type="submit" class="button-footer">¡Suscribete!
                <a href="/users/register">
                    <div>
                        <img src="/img/suscription/click-here.png" alt="">
                    </div>
                </a>
            </button>
        
    </div>
</div>