<div class="suscription-footer">
    <div class="parrafo-suscription-footer">
        <p>¡Suscribete para obtener los mejores beneficios!</p>
    </div>
    <form action="">
        <input type="text" name="email-footer" id="email-footer" placeholder="Ingresa tu email"
        class="input-footer">

        <button type="submit" class="button-footer">¡Sus!</button>
    </form>
</div>