<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Home"}) %>

<body class="body-style error">
    <%- include('../partials/header') %>

    <div class="containerImg404">
        <img src="/img/index/404.jpg" >
    </div>

    <div class="info404">
        <h2>Tu solicitud no esta disponible</h2>
        <p><a href="/">Inicio</a></p>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>