<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "Login"}) %>
<body class="body-style">
    <%- include('../partials/header') %>
    <main>
       <section class="item-form">
            <form action="/users/login" method="post">
                <h5>Inicia Sesión</h5>
                <input class="item-input" type="text" name="usuario" required placeholder="Nombre de usuario o correo electronico">
                <input class="item-input" type="password" name="password" placeholder="Contraseña" required>
                <input class="item-buttom" type="submit" value="Ingresar">
                <p><a href="#">¿Olvidaste tu contraseña?</a></p>
                </form>
        </section>  
    </main>
    <%- include('../partials/footer') %>
</body>
</html>