<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "Login"}) %>
<body class="body-style">
    <%- include('../partials/header') %>
    
<main>

       
            <form action="">
                <h5>Inicia Sesión</h5>
                <input class="item-input" type="text" name="usuario" required placeholder="Nombre de usuario o correo electronico">
                <input class="item-input" type="password" required name="Contraseña" placeholder="Contraseña">
                <input class="item-buttom" type="submit" value="Ingresar">
                <p><a href="#">¿Olvidaste tu contraseña?</a></p>
                </form>
        </section>  
    </main>
    <%- include('../partials/footer') %>
</body>
</html>