<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "Profile"}) %>
<body class="body-style">
<main>
    <div class="profileImg">
        <%=user.userName%> 
        <img src="/imag/userAvatars/<%=user.userAvatar%>" alt="Avatar">
    </div>
</main>
    <%- include('../partials/footer') %>
</body>
</html>