<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Registro"}) %>
<body class="body-style">
    <%- include('../partials/header') %>

<main>
    <div class="registrarse">

        <h1 class="tituloRegister">REGISTRATE</h1>

        <form action="/users/register" method="POST" enctype ="multipart/form-data">

            <div class="containerRegister">
                <div class="registerPartUno">
                    <div class="containerh2Register"><h2>Datos personales</h2></div>
    
                    <div class="datosPersonalesRegister">
    
                        <div class="itemRegister">
                            <label for="userName">Nombre </label>
                            <input type="text" id="userName" name="userName"  placeholder="Indicame tu nombre" required>
                        </div>
                        
                        <div class="itemRegister">
                            <label for="userLastName">Apellido </label>
                            <input type="text" id="userLastName" name="userLastName"  placeholder="Indicame tu apellido" required>
                        </div>
                        
                        <div class="itemRegister">
                            <label for="userEmail">Email </label>
                            <input type="email" id="userEmail" name="userEmail"  placeholder="Indicame tu email"required>
                        </div>
                        
                        <div class="itemRegister">
                            <label for="userAs">Nuevo usuario </label>
                            <input type="text"  id="userAs" name="userAs" placeholder="Create un usuario" required>
                        </div>
    
                        <div class="itemRegister">
                            <label for="userPassword">Contraseña</label>
                            <input type="password" id="userPassword" name="userPassword" placeholder="Crea una contraseña" required>
                        </div>
    
                        <div class="itemRegister">
                            <label for="userPasswordConfirm">Confirma contraseña </label>
                            <input type="password" id="userPasswordConfirm" name="userPasswordConfirm"  placeholder="Confirma tu contraseña" required>
                        </div>
    
                        <div class="itemRegister">
                            <label for="userAvatar">Perfil</label>
                            <input type="file" id="userAvatar" name="userAvatar"  placeholder="Indicame tu email"required>
                        </div>

                    </div>
                    
                </div>

                <div class="imagenDecoRegister">
                    <img src="/imag/cafeColombiano.jpg" alt="cultivar_cafe">
                </div>
    
                <div class="registerPartDos">
                    <div class="containerh2Register"><h2>Datos de entrega</h2></div>
                    
                    <div class="datosDeEntrega">
        
                        <div class="itemRegister">
                            <label for="userAddress">Dirección 1</label>
                            <input type="text" id="userAddress" name="userAddress" placeholder="Indicame tu dirección" required>
                        </div>
        
                        <div class="checkboxRegister">
                            <p>¿Que días puede recibir envios?</p>
                            
                            <div class="itemCheckboxRegister">
                                <input type="checkbox" id="ckeckboxUno" name="ckeckboxUno" > 
                                <label for="ckeckboxUno">Todos los días</label>
                            </div>
        
                            <div class="itemCheckboxRegister">
                                <input type="checkbox" id="ckeckboxDos" name="ckeckboxDos"> 
                                <label for="ckeckboxDos"> Lunes </label>
                            </div>
        
                            <div class="itemCheckboxRegister">
                                <input type="checkbox" id="ckeckboxTres" name="ckeckboxTres"> 
                                <label for="ckeckboxTres">Martes</label>
                            </div>
        
                            <div class="itemCheckboxRegister">
                                <input type="checkbox" id="ckeckboxCuatro" name="ckeckboxCuatro"> 
                                <label for="ckeckboxCuatro">Miercoles</label>
                            </div>
        
                            <div class="itemCheckboxRegister">
                                <input type="checkbox" id="ckeckboxCinco" name="ckeckboxCinco"> 
                                <label for="ckeckboxCinco">Jueves</label>
                            </div>
        
                            <div class="itemCheckboxRegister">
                                <input type="checkbox" id="ckeckboxSeis" name="ckeckboxSeis"> 
                                <label for="ckeckboxSeis">Viernes</label>
                            </div>
        
                            <div class="itemCheckboxRegister">
                                <input type="checkbox" id="ckeckboxSiete" name="ckeckboxSiete"> 
                                <label for="ckeckboxSiete">Sabado</label>
                            </div>
        
                            <div class="itemCheckboxRegister">
                                <input type="checkbox" id="ckeckboxOcho" name="ckeckboxOcho">  
                                <label for="ckeckboxOcho">Domingo</label>
                            </div>
                        </div>
                    
                        <div class="itemRegister">
                            <label for="userPhone">Telefono / Celular </label>
                            <input type="text" id="userPhone" name="userPhone" placeholder="Indicame tu celular" required>
                        </div>
                    </div>
                </div>

                <div class="imagenDecoRegister">
                    <img src="/imag/cafeColombiano 2.png" alt="cultivar_cafe">
                </div>

            </div>
        
            <div class="containerButtonRegister">
                <input type="submit" class="buttonRegister" value="Continuar">
            </div>
        </form>
    </div>
</main>

<%- include('../partials/footer') %>
</body>

</html>